body {
    background-color: aliceblue;
}

header {
    clear: both;
}

header h1 {
    display:inline-block;
}

header h2 {
    display:inline-block;
    padding-left: 25px;
    font-style: italic;
}

header hr {
    width:90%;
    float: left;
}

.imagebox {
    display:inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
    /* border used for container debugging */
    /*border: solid black 1px;*/
}

.imagebox img {
    /* constrain image size so we get a neat progression of images*/
    max-width:125px;
    max-height: 125px;
}

aside {
    width:200px;
    float:left;
    padding-right:20px;
}

aside img {
    max-width : 150px;
}

#pattern_container {
    display: block;
}

.color-container {
    width:100px;
    display:inline-block;
    border: 1px solid black;
    text-align: center;
}

.color-swatch {
    height:25px;
    width:30px;
    display:inline-block;
}

.color-cssname {
    font-size: small
}

#pattern_details {
    overflow: scroll;
    white-space: nowrap;
    height: 400px;
}

#patterns_container, #generator-main-container {
    float:left;
    position: absolute;
    left: 220px;
}

.errtext {
    font-weight:bold;
}

#uploader_content {
    margin-top:25px;
    clear: both;
}

#navbar {
    position: absolute;
    width: 100%;
    height: 1.5em;
    left: 0px;
    top: 0px;
    padding:2px 0 0px 5px;
    background-color: #0f0800;
    color: aliceblue;
    font-variant: small-caps;
}

#navbar a {
    color: aliceblue;
}