{% load static %}
{# home page for the site - not sure why I need to load static twice, but... ok,\/\/hatevs #}
{% include "./base.html" %}
{% block content %}
    {% for pattern in patterns %}
        <div class="imagebox">
            <a href="{% url 'viewpatterns' pattern.id %}">
            <img src ="{% static 'images/source/' %}{{pattern.filename}}" /> <br/>
            Pattern set #{{pattern.id}}</a><br/>
            {{pattern.width}}"w x {{pattern.height}}"h
        </div>
    {% endfor %}
{% endblock %}
