<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Knit Knacks Image Uploader</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>
<body>

{# for debugging, just send the user back to the main page. #}
<form action="{% url 'uploadimage' %}" method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Submit' />
    {% if errmsg %}
        <p class="errtext">{{ errmsg }}</p>
    {% endif %}
</form>
<p>Please wait a few seconds after clicking [submit] for the program to download the image and create its default pattern.</p>

</body>
</html>