<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Knit Knacks Image Uploader</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>
<body>
<h1>Knit Knacks</h1>
<h2>Image Uploader</h2>
<p>Use this page to upload images from the web.  We strongly suggest you use small image sizes (less than 200 pixels), as our default pattern assumes 10x10 pixels corresponds to 1x1 inch.  This never happens in the real world, but it's a useful starting point to help judge whether a particular pattern will work well in knit form.  Once the original pattern is uploaded, you can generate additional patterns as needed to distort it in ways that ensure the final result will end up with similar proportions as the original image. </p>
{# Just a web form for uploading images from a URL. #}
<form action="{% url 'uploadimage' %}" method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Submit' />
    {% if errmsg %}
        <p class="errtext">{{ errmsg }}</p>
    {% endif %}
</form>
<p>Please wait a few seconds after clicking [submit] for the program to download the image and create its default pattern.</p>

</body>
</html>