{% load static %}
{# show patterns for a specific image #}
{% include "./base.html" %}
{% block content %}
    <aside >
        <h2>Patterns for Pattern Set number {{parent_img.id}}</h2>
        <a href="{% static 'images/source/' %}{{parent_img.filename}}">
            <img src ="{% static 'images/source/' %}{{parent_img.filename}}" /><br>
        </a>
        {{parent_img.width}}"w x {{parent_img.height}}"h<br/>
        <i>(clickable original image)</i><br/>
        <p>
            Don't see what you're looking for?
            <a href="{% url 'genpatterns' parent_img.id %}">Create a new pattern for this image!</a>
        </p>
        <div id="tagset">
            Tags for this image:<br/>
            {% for tag in parent_img.imagetags_set.all %}
                <a href="{% url 'tagged' tag.tag %}">{{ tag.tag }}</a>
            {% endfor %}
        </div>
    </aside>
    <div id="patterns_container">
        <h2>Here are the available patterns for this image:</h2>
        {% if pattern_set %}
            {% for pattern in pattern_set %}
                <img src ="{% static 'images/bitmaps/' %}{{pattern.filename}}" />
                <a href="{% url 'showpattern' pattern.id%}">Pattern #{{pattern.id}}</a>, {{pattern.colors}} colors, {{pattern.spi}} stitches by {{pattern.rpi}} rows per inch.  (Created {{pattern.created}}.)
                <hr/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}